/**
 *back to top button
 */
.back-top-btn {
    position: fixed;
    right: $back-to-top-position-right;
    bottom: $back-to-top-position-bottom-hidden;
    width: $back-to-top-size;
    height: $back-to-top-size;
    background-color:  $back-to-top-background-color;
    border: $back-to-top-border;
    border-radius: 50%;
    box-shadow: $back-to-top-shadow;
    transition: all 1.2s ease-in-out;
    visibility: hidden;
    opacity: 0;
    outline: none;
    cursor: pointer;
    z-index: 998;

    @media screen and (min-width: 680px) {
        right: 5vw;
    }

    & span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0.2em;
        height: 1.3em;
        background-color: transparent;
    }

    & span::before,
    & span::after {
        content: "";
        position: absolute;
        top: 0;
        width: $back-to-top-arrow-width;
        height: $back-to-top-arrow-height;
        background-color: $back-to-top-arrow-backgroud-color;
        border-radius: $back-to-top-border-radius;
        transition: transform 0.6s ease-in-out;
    }

    & span::before {
        left: calc(50% + (3.4em / 11));
        transform: rotate(-45deg);
    }

    & span::after {
        right: calc(50% + (3.4em / 11));
        transform: rotate(45deg);
    }

    &.is-actived {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    }

    &.is-actived span::before {
        left: calc(50% + (3.4em / 11));
        transform: rotate(405deg);
    }

    &.is-actived span::after {
        right: calc(50% + (3.4em / 11));
        transform: rotate(-405deg);
    }

    &.is-show {
        display: block;
        bottom: $back-to-top-position-bottom-shown;
        visibility: visible;
        opacity: 0.8;
        animation-delay: 0.8s;
        animation-duration: 0.8s;
        animation-timing-function: ease;
    }
}

/**
 *nav list buttons
 */
.nav-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;

    &__btn {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        margin: $nav-list-btn-margin;
        padding: $nav-list-btn-padding;
        background-color: transparent;
        border: $nav-list-btn-border;
        border-radius: $nav-list-btn-border-radius;
        color: $nav-list-btn-font-color;
        font-family: $nav-list-font-family;
        font-size: $nav-list-btn-font-size;
        text-align: center;
        text-transform: uppercase;
        transition: $nav-list-btn-transition;
        cursor: pointer;

        &--fill {
            flex-grow: 1;
        }
        
        &:hover {
            background-color: $nav-list-btn-hover-bacground-color;
            border: $nav-list-btn-hover-border;
            color: $nav-list-btn-hover-font-color;
        }

        &--close:hover {
            background-color: $nav-list-btn-close-hover-bacground-color;
            border: $nav-list-btn-close-hover-border;
            color: $nav-list-btn-close-hover-font-color;
        }
        
        &.disabled {
            opacity: $nav-list-btn-opacity;
            pointer-events: none;
        }
    }
}

/**
 underline button
 */
.underline__btn {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    padding: $underline-btn-padding;
    background-color: $underline-btn-background-color;
    font-family: $underline-btn-font-family;
    font-size: $underline-btn-font-size;
    color: $underline-btn-font-color;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &::before,
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        transition: width 0.4s ease-in-out;
    }

    &:hover {
        color: $underline-btn-font-color-hover;

        &::before,
        &::after {
            bottom: 8px;
            width: calc(100% - #{$underline-btn-padding} * 2)
        }

        &::before {
            height: 2px;
            background-color: $underline-btn-font-color-hover;
        }

        &::after {
            height: 1px;
            background-color: lighten($underline-btn-font-color-hover, 10%);
        }
    }
}