/**
 *card
 */
.card-list {
    display: flex;
    padding-top: $card-list-padding;
    flex-wrap: wrap;

    &__item {
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: calc(100% / 3);
        padding: $card-list-item-padding;

        &--full {
            flex-grow: 2;
            flex-shrink: 0;
            flex-basis: 100%;
        }
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: $card-min-width;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $card-font-family;
    text-decoration: none;
    overflow: hidden;

    &--border {
        background: $card-background-color;
        border: $card-border;
        box-shadow: $card-shadow;
        transition: all 0.2s ease-in-out;

        &:hover {
            background: $card-background-color-hover;
            box-shadow: $card-shadow-hover;
            transform: $card-transforme-effect-hover;

            & .card__title,
            & .card__description {
                color: $card-font-color-hover;
            }
        }
    }

    @media screen and (min-width: 727px) and (max-width: 1090px) {
        &--horizontal {
            flex-direction: row;

            .card__icon {
                flex-grow: 0;
                flex-shrink: 2;
                width: 120px;
                height: 100%;
            }
        }
    }

    &--not-transform:hover {
        transform: none;
    }

    &__img {
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        min-height: $card-img-min-height;
        height: $card-img-height;
        background-color: $card-img-background-color;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

    &__icon {
        flex-grow: 1;
        flex-shrink: 1;
        width: 100%;
        min-height: $card-icon-min-height;
        background-color: $card-icon-background-color;;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__content {
        flex-grow: 2;
        flex-shrink: 1;
        height: 70%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        padding: $card-descrition-padding;
        font-size: $card-title-font-size;
        font-family: $card-title-font-family;
        color: $card-title-font-color;
        text-transform: uppercase;
    }

    &__description {
        padding: $card-descrition-padding;
        padding-top: 0;
        font-size: $card-descrition-font-size;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        height: 0;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background-color: transparent;
        transform: translate3d(0, 100%, 0);
        
        &--pop-up {

            .card:hover & {
                height: auto;
                transform: translate3d(0, 0, 0);
                transition: transform 0.8s ease; 
            }
        }
    }
}