/**
 *code icon
 */
.code-icon {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    width: $code-icon-width;
    height: $code-icon-height;
    margin-right: $hero-main-title-letter-spacing-small;
    margin-top: -1%;
    animation: fadeInUp 0.8s ease;

    /*code icon breakpoint*/
    @media screen and (min-width: 680px) and (max-width: 899px) {
        width: calc(#{$code-icon-width} * 1.2);
        height: calc(#{$code-icon-height} * 1.2);
        margin-right: $hero-main-title-letter-spacing-medium;
    }

    @media screen and (min-width: 900px) {
        width: calc(#{$code-icon-width} * 1.4);
        height: calc(#{$code-icon-height} * 1.4);
        margin-right: $hero-main-title-letter-spacing-large;
    }
    
    & .left {
        position: absolute;
        left: 0;
        width: 30%;
        height: 100%;
        background-color: transparent;
    
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 48%;
            width: 32%;
            height: 48%;
            background-color: $code-icon-background-color;
            border-radius: 2px;
        }

        &::before {
            top: calc(50% - 10%);
            transform: rotate(-45deg);
        }

        &::after {
            bottom: calc(50% - 10%);
            transform: rotate(45deg);
        }
    }
    
    & .center {
        position: absolute;
        left: calc(50% - 5%);
        width: 11%;
        height: 100%;
        background-color: $code-icon-background-color;
        border-radius: 2px;
        transform: rotate(15deg);
    }
    
    & .right {
        position: absolute;
        right: 0;
        width: 30%;
        height: 100%;
        background-color: transparent;
    
        &::before,
        &::after {
            content: "";
            position: absolute;
            right: 48%;
            width: 32%;
            height: 48%;
            background-color: $code-icon-background-color;
            border-radius: 2px;
        }

        &::before {
            top: calc(50% - 10%);
            transform: rotate(45deg);
        }

        &::after {
            bottom: calc(50% - 10%);
            transform: rotate(-45deg);
        }
    }
}

/**
 *show more
 */
.show-more {
    display: block;
    position: absolute;
    width: $show-more-icon-width;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: $ORANGE;
        border-radius: 0;
        transition: transform 0.3s ease-in-out;
    }

    &::before {
        transform: rotate(90deg);
    }

    &.is-open {
        &::before {
            transform: rotate(0deg);
        }
    }
}

/**
 *hamburger
 */
.nav-icon {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: $nav-icon-width;
    height: $nav-icon-height;
    margin: $nav-icon-margen;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    z-index: 99;

    & span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: $nav-icon-width;
        height: $nav-icon-span-height;
        background-color: $nav-icon-span-color;
        border-radius: 0;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: calc((#{$nav-icon-height} - #{$nav-icon-span-height}) / 2);
        }

        &:nth-child(4) {
            top: calc(#{$nav-icon-height} - #{$nav-icon-span-height});
        }
    }

    &.is-open {

        span:nth-child(1),
        span:nth-child(4) {
            top: 50%;
            left: 50%;
            width: 0;
            opacity: 0;
        }

        & span:nth-child(2) {
            transform: rotate(45deg);
        }
    
        & span:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}