/**
 *list
 */
.list {
    padding-bottom: $list-padding;
    list-style-type: disc;

    &__title {
        padding-bottom: $list-title-padding;
        font-family: $list-title-font-family;
        font-size: $list-title-font-size;
        color: darken($font-basis-color, 5%);

        &.global-flex__item {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: auto;
            min-width: $list-global-flex-item-min-width;
            margin-right: auto;
        }
    }

    &__subtitle {
        padding-bottom: $list-subtitle-padding;
        font-family: $list-subtitle-font-family;
        font-size: $list-subtitle-font-size;
        color: darken($font-basis-color, 10%);
        text-transform: uppercase;
    }

    &__item {
        margin-left: $list-item-margin;
        padding: $list-item-padding 0;
        font-size: $list-item-font-size;

        &--with-text {
            margin: 0;
            padding-bottom: $list-item-with-text-padding;
            list-style: none;
            font-size: $list-item-with-font-size;
        }
    }

    &__text {
        &--bold {
            font-family: $list-item-bold-font-family;
            color: darken($font-basis-color, 3%)
        }
    }
}