
.plane {
    max-width: 200px;
    max-height: 200px;

    &.is-flying {
        .propelle {
            animation: propelle 0.01s ease infinite;
        }

        .scarf {
            animation: scarf 0.8s ease infinite;
        }

        .strips {
            animation: strips 0.4s ease infinite;
        }
    }
}

/*
 * animate
 */
@keyframes propelle {
    0% {
        opacity: 0;
        transform-origin: 187px 91px;
    }

    50% {
        opacity: 1;
        transform: scale-y(0.8);
        transform-origin: 187px 91px;
    }

    100% {
        opacity: 0;
        transform-origin: 187px 91px;
    }
}

@keyframes scarf {
    0%,
    35% {
        transform: rotate(4deg);
        transform-origin: 90px 87px;
    }

    25% {
        transform: rotate(-8deg);
        transform-origin: 90px 87px;
    }

    50% {
        transform: rotate(10deg);
        transform-origin: 90px 87px;
    }

    75% {
        transform: rotate(-12deg);
        transform-origin: 90px 87px;
    }

    100% {
        transform: rotate(4deg);
        transform-origin: 90px 87px;
    }
}

@keyframes strips {
    0% {
        transform: rotate(0deg);
        transform-origin: 85px 75px;
    }

    25% {
        transform: rotate(15deg);
        transform-origin: 85px 75px;
    }

    50% {
        transform: rotate(7deg);
        transform-origin: 85px 75px;
    }

    75% {
        transform: rotate(18deg);
        transform-origin: 85px 75px;
    }

    100% {
        transform: rotate(0deg);
        transform-origin: 85px 75px;
    }
} 