/**
 *variables
 */

/*spacing*/
$basis-spacing: 12px;
$half-spacing: $basis-spacing / 2;
$double-spacing: $basis-spacing * 2;
$triple-spacing: $basis-spacing * 3;

/*breakpoints*/

/*fonts*/
$ff-bebas-neue: "bebas", sans-serif;
$ff-montserrat-extralight: "montserrat extralight", sans-serif;
$ff-montserrat-light: "montserrat light", sans-serif;
$ff-montserrat: "montserrat", sans-serif;
$ff-montserrat-semibold: "montserrat semibold", sans-serif;
$ff-montserrat-bold: "montserrat bold", sans-serif;
$ff-gentium: "gentium", sans-serif;
$ff-ptsansnarrow: "ptsans narrow", sans-serif;
$ff-ptsansnarrow-black: "ptsans narrow bold", sans-serif;

/*color*/
$BLUE: #5f9ede;
$BLUEPURPLE: #607d8b;
$ORANGE: #f3aa23;
$GRAY: #b9bbbd;
$WHITE: #fbfbfb;
$RED: #e44034;
$font-basis-color: $GRAY;
$a-default-color: $ORANGE;
// border-bottom: 0.01rem solid #00b3ac;

/*body*/
$body-min-width: 320px;

/*modal*/
$overlay-background-color: rgba(0, 0, 0, 0.6);
$modal-width-large: 80vw;
$modal-width-small: 60vw;
$modal-margin-medium: 4vh;
$modal-margin-small: 2vh;
$modal-image-height: 280px;
$modal-image-backgrond-color: #8fbc8f;
$modal-thumb-width: 200px;
$modal-thumb-height: 200px;
$modal-background-color: $WHITE;
$modal-title-font-size: 36px;
$modal-title-font-size-small: 32px;
$modal-title-font-family: $ff-ptsansnarrow-black;
$modal-title-font-color: $BLUE;
$modal-title-text-shadow: 3px 3px 2px rgba(0,0,0,0.1);
$modal-description-font-family: $ff-montserrat;
$modal-description-font-size: 24px;
$modal-description-font-size-small: 20px;
$modal-text-margin: $basis-spacing;
$modal-font-color: $GRAY;

/*section*/
$section-hero-small-height: 320px;
$section-hero-padding: $basis-spacing;
$section-hero-background: linear-gradient(darken($WHITE, 4%) 96%, $WHITE 100%) !important;
$section-background-color: $WHITE;
$section-font-family: $ff-montserrat;
$section-font-size: 22px;
$section-font-color: $GRAY;
$section-body-max-width: 1600px;
$section-body-padding: 20vh 6vw;
$section-body-padding-small: 10vh 0;
$section-body-top-small-padding: 5vh;
$section-footer-background-color: #4e4e4e !important;
$section-list-footer-background-color: lighten(#4e4e4e, 36%) !important;
$section-list-footer-padding: 5vh 10vw;
$section-list-footer-padding-small: 5vh 2vw;
$section-footer-span-padding: $basis-spacing;
$section-footer-span-font-size: 16px;
$section-footer-span-color: $GRAY;
$section-title-margin-left: $double-spacing;
$section-title-margin-right: $basis-spacing;
$section-title-font-family: $ff-ptsansnarrow-black;
$section-title-padding: $basis-spacing;
$section-title-font-size: 36px;
$section-title-font-color: $BLUE;
$section-title-font-white-color: #ccc;
$section-title-text-shadow: 3px 3px 2px rgba(0,0,0,0.1);
$section-text-margin: $basis-spacing;

/*section list imagen*/
$list-image-width: 120px;
$list-image-height: 96px;

/*parallax*/
$section-parallax-height: 400px;
$section-parallax-height-small: 220px;
$section-parallax-background-image-vertical: url("../images/planets-01.png");
$section-parallax-background-image-horizontal: url("../images/planets-02.png");
$section-parallax-before-backgrond-color: rgba(255,255,255,0.4);
$section-parallax-box-shadow: inset 0 0 30px rgba(0,0,0,0.2);
$section-parallax-quote-max-width: 780px;
$section-parallax-quote-margin-left: $double-spacing;
$section-parallax-quote-margin-small-left: $basis-spacing;
$section-parallax-quote-padding: $double-spacing;
$section-parallax-quote-padding-small: $basis-spacing;
$section-parallax-quote-font-color: #ececec;
$section-parallax-quote-font-family: $ff-montserrat-semibold;
$section-parallax-quote-font-size: 26px;
$section-parallax-quote-font-size-small: 18px;
$section-parallax-quote-text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
$section-parallax-quote-line-height: 1.25;
$section-parallax-quote-letter-spacing: 2px;
$section-parallax-quote-before-backgrond-color: $ORANGE;
$section-parallax-quote-before-width: 8px;

/*grid*/
$grid-margin-small: 4vh 3vh;
$grid-margin-large: 10vh 12vh;

/*header*/
$header-logo-text-margin: 0;
$header-logo-text-padding: 0;
$header-logo-text-color: rgba(0, 0, 0, 0.3);
$header-logo-text-font-familie: $ff-montserrat-bold;
$header-logo-text-font-size: 24px;
$header-logo-text-backgound-color: linear-gradient(rgba(137, 223, 230, 0.6) 0%, rgba(95, 158, 222, 0.8) 100%);
$header-logo-text-shadow: 0 2px 4px rgba(255, 255, 255, 0.42);

/*hero*/
$hero-margin-tiny: 4vh;
$hero-margin-small: 6vh;
$hero-margin-medium: 16vh;
$hero-margin-large: 20vh;
$hero-padding: 0;
$hero-item-body-padding-small: $basis-spacing;
$hero-item-body-padding-medium: $double-spacing;
$hero-main-title-font-family: $ff-bebas-neue;
$hero-main-title-font-weight: 400;
$hero-main-title-font-small: 26px;
$hero-main-title-font-medium: 32px;
$hero-main-title-font-large: 48px;
$hero-main-title-color: rgba(0, 0, 0, 0.3);
$hero-main-title-text-shadow: 0 1px 2px rgba(255, 255, 255, 0.9);
$hero-main-title-letter-spacing-small: 12px;
$hero-main-title-letter-spacing-medium: 18px;
$hero-main-title-letter-spacing-large: 24px;
$hero-about-font-family: $ff-bebas-neue;
$hero-about-color: rgba(0, 0, 0, 0.2);
$hero-about-letter-spacing: 0.1em;
$hero-imagen: url("../images/svg/moon.svg");
$hero-imagen-max-width: 680px;

/*css icon*/
$code-icon-width: 48px;
$code-icon-height: 36px;
$code-icon-background-color: $ORANGE;
$show-more-icon-width: 12px;

/*nav*/
$nav-link-font-family: $ff-montserrat-semibold;
$nav-link-font-size: 14px;
$nav-link-letter-spacing: 3px;
$nav-link-text-color: lighten($GRAY, 10%);
$nav-link-text-color-hover: rgb(137, 223, 230);
$nav-link-unterline-background-color-hover: $nav-link-text-color-hover;
$nav-link-line-height: 1.8em;
$nav-list-btn-margin: 0 $half-spacing;
$nav-list-btn-padding: $basis-spacing $double-spacing;
$nav-list-font-family: $ff-montserrat-semibold;
$nav-list-btn-font-size: 12px;
$nav-list-btn-border-radius: 4px;
$nav-list-btn-border: 2px solid $GRAY;
$nav-list-btn-font-color: $GRAY;
$nav-list-btn-transition: all 0.6s linear;
$nav-list-btn-hover-bacground-color: $BLUE;
$nav-list-btn-hover-border: 2px solid $BLUE;
$nav-list-btn-hover-font-color: $WHITE;
$nav-list-btn-opacity: 0.3;
$nav-list-btn-close-hover-bacground-color: $RED;
$nav-list-btn-close-hover-border: 2px solid $RED;
$nav-list-btn-close-hover-font-color: $WHITE;

/*list*/
$list-padding: $triple-spacing;
$list-item-padding: $half-spacing;
$list-title-padding: 24px;
$list-title-font-size: 24px;
$list-global-flex-item-min-width: 300px;
$list-subtitle-padding: $basis-spacing;
$list-subtitle-font-size: 14px;
$list-title-font-family: $ff-montserrat-extralight;
$list-subtitle-font-family: $ff-montserrat;
$list-item-margin: 36px;
$list-item-bold-font-family: $ff-montserrat-semibold;
$list-item-font-size: 18px;
$list-item-with-text-padding: $double-spacing;
$list-item-with-font-size: 16px;

/*button back to top*/
$back-to-top-position-right: 7vw;
$back-to-top-position-bottom-hidden: -100%;
$back-to-top-position-bottom-shown: 5vh;
$back-to-top-size: 3.8em;
$back-to-top-background-color: $GRAY;
$back-to-top-border: 2px solid rgba(255,255,255,0.9);
$back-to-top-shadow: inset 0 0 4px rgba(0,0,0,0.2);
$back-to-top-arrow-backgroud-color: rgba(255, 255, 255, 0.9);
$back-to-top-arrow-width: 0.2em;
$back-to-top-arrow-height: 1.3em;
$back-to-top-border-radius: 0.2em;
$underline-btn-padding: $basis-spacing;
$underline-btn-font-color: $WHITE;
$underline-btn-font-size: 12px;
$underline-btn-font-family: $ff-montserrat-semibold;
$underline-btn-background-color: darken($BLUEPURPLE, 18%);
$underline-btn-font-color-hover: $WHITE;

/*flex*/
$global-flex-background-color: #27282e;
$global-flex-small-padding: $double-spacing;

/*card*/
$card-list-padding: $triple-spacing;
$card-list-item-padding: $basis-spacing;
$card-min-width: calc(#{$body-min-width} - #{$card-list-item-padding} * 2);
$card-background-color: $WHITE;
$card-background-color-hover: linear-gradient($BLUEPURPLE, darken($BLUEPURPLE, 8%));
$card-font-color-hover: $WHITE;
$card-font-family: $ff-montserrat;
$card-border: 1px solid darken($WHITE, 4%);
$card-shadow: 0 1px 2px rgba(0,0,0,0.1);
$card-shadow-hover: 0 4px 3px rgba(0,0,0,0.1);
$card-transforme-effect-hover: translate3d(0, -4px, 0);
$card-img-height: 30%;
$card-img-min-height: 280px;
$card-icon-min-height: 120px;
$card-img-background-color: $WHITE;
$card-icon-background-color: $WHITE;
$card-title-font-family: $ff-montserrat-semibold;
$card-title-font-color: darken($ORANGE, 10%);
$card-title-font-size: 14px;
$card-descrition-padding: $double-spacing;
$card-descrition-padding: $double-spacing;
$card-descrition-font-size: 18px;

/*hamburger*/
$nav-icon-height: 23px;
$nav-icon-width: 28px;
$nav-icon-margen: $basis-spacing;
$nav-icon-span-height: 3px;
$nav-icon-span-color: $ORANGE;