/**
 *flex
 */
.global-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    @media screen and (min-width: 1040px) {
        flex-wrap: nowrap;
    }

    &--color {
        background-color: $global-flex-background-color;
    }

    &__item {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        padding: 0;

        &--half {

            @media screen and (min-width: 1040px) {
                flex-basis: 50% !important;
            }
        }

        &--small {
            padding-top: $global-flex-small-padding;

            @media screen and (min-width: 1040px) {
                flex-basis: 33% !important;
                padding-top: 0;
            }
        }

        @media screen and (min-width: 480px) {
            flex-basis: 100%;
        }
    }
}