/**
 *header
 */
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: $basis-spacing;

    &__logo {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        padding-left: $double-spacing;

        & .logo-text {
            display: block;
            margin: $header-logo-text-margin;
            padding: $header-logo-text-padding;
            background-image: $header-logo-text-backgound-color;
            font-family: $header-logo-text-font-familie;
            font-size: $header-logo-text-font-size;
            font-weight: $header-logo-text-weight;
            color: $header-logo-text-color;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            text-shadow: $header-logo-text-shadow;
            text-transform: uppercase;
            animation: fadeInUp 0.8s ease;
            transition: all 0.6s ease;
        }
    }
}
