/**
 *hero - grid
 */
.hero {
	margin: 0;
	padding: 0;
}

.hero--grid {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;

	&--header {
		flex-direction: column;
	}

	&--body {
		height: 100%;
		padding: 1rem;

		@media screen and (min-width: 721px) {
			padding: 2em;
		}

		@media screen and (min-width: 1400px) {
			display: none;
		}
	}
}

/**
 *text
 */
.hero__main-title,
.hero__main-subtitle {
	display: block;
	width: 100%;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	animation: fadeInUp 0.8s ease;
	transition: font 0.6s ease;
}

.hero__main-title {
	display: none;
	background-image: linear-gradient(rgba(137, 223, 230, 0.6) 0%, rgba(95, 158, 222, 0.8) 100%);
	font-family: "Montserrat", sans-serif;
	font-size: 6rem;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.3);
	line-height: 0.8em;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	text-shadow: 0 2px 4px rgba(255, 255, 255, 0.42);

	&.is-hidden {
		display: block;
	}

	@media screen and (min-width: 680px) {
		display: block;

		&.is-hidden {
			display: none;
		}
	}
}

.hero__main-subtitle {
	margin-bottom: 0.6rem;
	font-size: 1.3rem;
	font-family: "Lato", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.3);
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.9);
	letter-spacing: 1.3rem;
	word-break: break-word;
	animation-duration: 1s;
}

.hero__about {
	font-size: 1.1em;
	font-family: "Montserrat", sans-serif;
	color: rgba(0, 0, 0, 0.2);
	align-self: flex-end;
	letter-spacing: 0.1em;
	animation: bounceInLeft 1.2s ease;
}

/**
 *breakpoint
 */
@media screen and (min-width: 720px) {
	.hero__main-title {
		font-size: 8em;
		line-height: 8rem;
	}

	.hero__main-subtitle {
		text-shadow: 0 1px 1px white;
		letter-spacing: 2rem;
	}
}
@media screen and (max-width: 480px) {
	.hero__main-title {
		font-size: 6em;
		line-height: 6rem;
	}

	.hero__main-subtitle {
		font-size: 1.1em;
		text-shadow: 0 1px 1px white;
		letter-spacing: 0.8rem;
	}
}