/**
 *modal
 */
.overlay,
.overlay-active {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-background-color;
    overflow: auto;
    z-index: 999;
    
    &.active {
        display: block;
    }
}

.js-card-builder,
.modal {
    color: $modal-font-color;
}

.modal {
    position: relative;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    margin: 0 auto;
    background-color: $modal-background-color;
    animation-name: zoomInUp;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    
    @media screen and (min-width: 680px) and (max-width: 959px) {
        width: $modal-width-large;
        margin-top: $modal-margin-small;
        margin-bottom: $modal-margin-small;
    }

    @media screen and (min-width: 960px) {
        width: $modal-width-small;
        margin-top: $modal-margin-medium;
        margin-bottom: $modal-margin-medium;
    }

    &__img,
    &__thumb {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__img {
        display: block;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        height: $modal-image-height;

        &--color {
            background-color:$modal-image-backgrond-color;
        }

        &--small {
            background-size: contain;
        }
    }

    &__thumb {
        display: block;
        width: $modal-thumb-width;
        height: $modal-thumb-height;
        margin: 0 auto;
    }

    &__content {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        padding: $double-spacing;
        padding-bottom: 0;
        overflow-y: auto;
    }

    &__title {
        margin-bottom: $double-spacing;
        color: $modal-title-font-color;
        font-family: $modal-title-font-family;
        font-size: $modal-title-font-size-small;
        text-shadow: $modal-title-text-shadow;

        @media screen and (min-width: 1040px) {
            font-size: $modal-title-font-size;
        }
    }

    &__description {
        font-family: $modal-description-font-family;
        font-size: $modal-description-font-size-small;
        margin: $modal-text-margin;

        @media screen and (min-width: 1040px) {
            font-size: $modal-description-font-size;
        }
    }

    &__footer {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        padding: $basis-spacing;
    }
}