/**
 *reset
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

/**
 *basis
 */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-width: $body-min-width;
    height: auto;
    font-size: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.overflow-stop {
        overflow: hidden;
    }
}

h1, h2,h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
    color: $font-basis-color;
}

ul, ol {
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $a-default-color;
}