/**
 *margin
 */
.margin--top-small {
    margin-top: $basis-spacing !important;
}

.margin--top-medium {
    margin-top: $double-spacing !important;
}

.margen-left-none {
    margin-left: 0 !important;
}

.margin-left-right-small {
    margin-left: $basis-spacing !important;
    margin-right: $basis-spacing !important;
}

/**
 *text align
 */
.text-align-left {
    text-align: left !important;
}

.text-align-right {
    text-align: right !important;
}

.text-align-center {
    text-align: center !important;
}

/**
 *form
 */
.circular-form {
    border-radius: 50%;
    overflow: hidden;
}