/**
 *variables
 */

/*spacing*/
$basis-spacing: 12px;
$half-spacing: $basis-spacing / 2;
$double-spacing: $basis-spacing * 2;
$triple-spacing: $basis-spacing * 3;

/*breakpoints*/

/*fonts*/
$ff-bebas-neue: 'Bebas Neue', sans-serif;
$ff-montserrat: "Montserrat", sans-serif;
$ff-gentium: 'Gentium Basic', sans-serif;

/*color*/
$BLUE: #5f9ede;
$ORANGE: #f3aa23;
$GRAY: #aaa;
$WHITE: #fbfbfb;
$font-basis-color: $GRAY;
$a-default-color: $ORANGE;
// border-bottom: 0.01rem solid #00b3ac;

/*body*/
$body-min-width: 320px;

/*modal*/
$overlay-background-color: rgba(0, 0, 0, 0.6);
$modal-width-large: 80vw;
$modal-width-small: 60vw;
$modal-margin-medium: 4vh;
$modal-margin-small: 2vh;
$modal-image-height: 280px;
$modal-thumb-width: 200px;
$modal-thumb-height: 200px;
$modal-image-backgrond-color: #8fbc8f;
$modal-background-color: $WHITE;
$modal-title-font-size: 36px;
$modal-title-font-size-small: 32px;
$modal-title-font-family: $ff-gentium;
$modal-description-font-family: $ff-montserrat;
$modal-title-font-color: $BLUE;
$modal-title-text-shadow: 3px 3px 2px rgba(0,0,0,0.1);
$modal-description-font-size: 24px;
$modal-description-font-size-small: 20px;
$modal-text-margin: $basis-spacing;
$modal-font-color: $GRAY;

/*section*/
$section-hero-padding: $basis-spacing;
$section-hero-background: linear-gradient(#f1f1f1 96%, $WHITE 96%) !important;
$section-background-color: $WHITE;
$section-footer-background-color: #4e4e4e !important;
$section-font-family: $ff-montserrat;
$section-body-max-width: 1600px;
$section-body-padding: 20vh 6vw;
$section-body-padding-small: 10vh 0;
$section-title-margin-left: $double-spacing;
$section-title-font-family: $ff-gentium;
$section-footer-span-padding: $basis-spacing;
$section-footer-span-font-size: 16px;
$section-footer-span-font-weight: 600;
$section-footer-span-color: $GRAY;
$section-title-padding: $basis-spacing;
$section-title-font-size: 36px;
$section-title-font-color: $BLUE;
$section-title-font-white-color: #ccc;
$section-title-text-shadow: 3px 3px 2px rgba(0,0,0,0.1);
$section-font-size: 22px;
$section-text-margin: $basis-spacing;
$section-font-color: $GRAY;

/*parallax*/
$section-parallax-height: 400px;
$section-parallax-height-small: 220px;
$section-parallax-quote-max-width: 780px;
$section-parallax-before-backgrond-color: rgba(255,255,255,0.4);
$section-parallax-background-image: url("../images/tiny_pincels.jpeg");
$section-parallax-box-shadow: inset 0 0 30px rgba(0,0,0,0.2);
$section-parallax-quote-margin-left: $double-spacing;
$section-parallax-quote-margin-small-left: $basis-spacing;
$section-parallax-quote-padding: $double-spacing;
$section-parallax-quote-padding-small: $basis-spacing;
$section-parallax-quote-font-color: $WHITE;
$section-parallax-quote-font-family: $ff-montserrat;
$section-parallax-quote-font-size: 26px;
$section-parallax-quote-font-weight: 600;
$section-parallax-quote-font-size-small: 18px;
$section-parallax-quote-text-shadow: 0 0 4px rgba(0,0,0,0.6);
$section-parallax-quote-line-height: 1.25;
$section-parallax-quote-letter-spacing: 2px;
$section-parallax-quote-before-backgrond-color: $ORANGE;
$section-parallax-quote-before-width: 8px;

/*grid*/
$grid-margin-small: 4vh 3vh;
$grid-margin-large: 10vh 12vh;

/*header*/
$header-text-logo-margin: 0;
$header-text-logo-padding: 0;
$header-text-logo-font-familie: $ff-montserrat;
$header-text-logo-weight-color: rgba(0, 0, 0, 0.3);
$header-text-logo-font-size: 24px;
$header-text-logo-weight: 900;
$header-text-logo-backgound-color: linear-gradient(rgba(137, 223, 230, 0.6) 0%, rgba(95, 158, 222, 0.8) 100%);
$header-text-logo-text-shadow: 0 2px 4px rgba(255, 255, 255, 0.42);

/*hero*/
$hero-margin-tiny: 4vh;
$hero-margin-small: 6vh;
$hero-margin-medium: 16vh;
$hero-margin-large: 20vh;
$hero-padding: 0;
$hero-item-body-padding-small: $basis-spacing;
$hero-item-body-padding-medium: $double-spacing;
$hero-main-title-font-small: 26px;
$hero-main-title-font-medium: 32px;
$hero-main-title-font-large: 48px;
$hero-main-title-font-family: $ff-bebas-neue;
$hero-about-font-family: $ff-bebas-neue;
$hero-main-title-color: rgba(0, 0, 0, 0.3);
$hero-main-title-text-shadow: 0 1px 2px rgba(255, 255, 255, 0.9);
$hero-main-title-letter-spacing-small: 12px;
$hero-main-title-letter-spacing-medium: 18px;
$hero-main-title-letter-spacing-large: 24px;
$hero-about-color: rgba(0, 0, 0, 0.2);
$hero-about-letter-spacing: 0.1em;

/*code icon*/
$code-icon-width: 48px;
$code-icon-height: 36px;
$code-icon-background-color: $ORANGE;

/*nav*/
$nav-link-font-size: 14px;
$nav-link-font-weight: 600;
$nav-link-letter-spacing: 3px;
$nav-link-color: lighten($GRAY, 10%);
$nav-link-color-hover: rgb(137, 223, 230);
$nav-link-font-family: $ff-montserrat;
$nav-link-line-height: 1.8em;

$nav-list-btn-margin: 0 $half-spacing;
$nav-list-btn-padding: $basis-spacing $double-spacing;
$nav-list-btn-font-size: 12px;

/*list*/
$list-padding: $triple-spacing;
$list-item-padding: $half-spacing;
$list-title-padding: 24px;
$list-title-font-size: 24px;
$list-title-font-weight: 400;
$list-global-flex-item-min-width: 300px;
$list-subtitle-padding: $basis-spacing;
$list-subtitle-font-size: 14px;
$list-subtitle-font-weight: 600;
$list-item-margin: 36px;
$list-item-font-size: 18px;
$list-item-with-text-padding: $double-spacing;
$list-item-with-font-size: 16px;
$list-item-bold-font-weight: 600;

/*button back to top*/
$back-to-top-position-right: 7vw;
$back-to-top-position-bottom-hidden: -100%;
$back-to-top-position-bottom-shown: 5vh;
$back-to-top-size: 3.8em;
$back-to-top-background-color: $GRAY;
$back-to-top-border: 2px solid rgba(255,255,255,0.9);
$back-to-top-shadow: inset 0 0 4px rgba(0,0,0,0.2);
$back-to-top-arrow-backgroud-color: rgba(255, 255, 255, 0.9);
$back-to-top-arrow-width: 0.2em;
$back-to-top-arrow-height: 1.3em;
$back-to-top-border-radius: 0.2em;

/*flex*/
$global-flex-background-color: #27282e;
$global-flex-small-padding: $double-spacing;

/*card*/
$card-list-padding: $triple-spacing;
$card-list-item-padding: $basis-spacing;
$card-min-width: calc(#{$body-min-width} - #{$card-list-item-padding} * 2);
$card-background-color: $WHITE;
$card-background-color-hover: $ORANGE;
$card-font-family: $ff-montserrat;
$card-border: 1px solid $ORANGE;
$card-shadow: 0 1px 2px rgba(0,0,0,0.1);
$card-shadow-hover: 0 4px 3px rgba(0,0,0,0.1);
$card-transforme-effect-hover: translate3d(0, -4px, 0);
$card-img-height: 30%;
$card-img-min-height: 280px;
$card-img-background-color: $WHITE;
$card-descrition-padding: $double-spacing;
$card-title-font-color: darken($ORANGE, 10%);
$card-title-font-size: 14px;
$card-title-font-weight: 600;
$card-descrition-padding: $double-spacing;
$card-descrition-font-size: 18px;
$card-footer-padding: $basis-spacing;
$card-footer-font-color: $WHITE;
$card-footer-font-color-hover: $BLUE;
$card-footer-font-size: 12px;
$card-footer-font-weight: 600;